nvidia-cudnn-cu13==9.20.0.48
ipykernel==7.3.0
sortedcontainers==2.4.0
sentry-sdk==2.62.0
cffi==2.0.0
comm==0.2.3
mwatershed==0.5.4
attrs==26.1.0
ipython_pygments_lexers==1.1.1
ImageIO==2.37.3
absl-py==2.4.0
botocore==1.43.0
contourpy==1.3.3
locket==1.0.0
Pygments==2.20.0
cuda-pathfinder==1.5.5
nvidia-cusparse==12.6.3.3
nvidia-curand==10.4.0.35
tqdm==4.68.2
PyYAML==6.0.3
markdown-it-py==4.2.0
jedi==0.19.2
idna==3.18
nvidia-cusolver==12.0.4.66
nvidia-cublas==13.1.1.3
threadpoolctl==3.6.0
atomicwrites==1.4.1
ipython==9.14.1
pure_eval==0.2.3
google-auth==2.54.0
requests==2.34.2
nvidia-nvshmem-cu13==3.4.5
typing_extensions==4.15.0
3DSegStuff==0.0.0
aiohttp==3.14.1
numcodecs==0.15.1
jmespath==1.1.0
ome-zarr==0.11.1
linkify-it-py==2.1.0
grpcio==1.81.1
triton==3.7.0
torch==2.12.0
toolz==1.1.0
platformdirs==4.10.0
google-apitools==0.5.35
blosc2==4.4.5
nvidia-cuda-cupti==13.0.85
ndindex==1.10.1
pydantic_core==2.46.4
stack_data==0.6.3
filelock==3.29.4
multidict==6.7.1
numexpr==2.14.1
torchvision==0.27.0
dask==2026.6.0
httplib2==0.31.2
jupyter_core==5.9.1
nvidia-nvjitlink==13.0.88
pyasn1==0.6.3
networkx==3.6.1
pexpect==4.9.0
GitPython==3.1.50
yarl==1.24.2
certifi==2026.5.20
nvidia-nccl-cu13==2.29.7
cuda-toolkit==13.0.2
nvidia-cufile==1.15.1.6
mdurl==0.1.2
numpy==2.4.6
pycparser==3.0
msgpack==1.2.0
tensorboard-data-server==0.7.2
gitdb==4.0.12
nvidia-cufft==12.0.0.61
h5py==3.16.0
pillow==12.2.0
natsort==8.4.0
s3fs==2026.4.0
click==8.4.1
tensorboard==2.20.0
aiosignal==1.4.0
cryptography==49.0.0
scipy==1.17.1
scikit-image==0.26.0
ome-types==0.6.3
nvidia-cuda-nvrtc==13.0.88
zarr==2.18.7
fsspec==2026.4.0
cloudpickle==3.1.2
funlib.persistence==0.6.0
wrapt==2.2.1
tornado==6.5.7
frozenlist==1.8.0
Jinja2==3.1.6
iohub==0.2.3.post1
partd==1.4.2
jupyter_client==8.9.1
MarkupSafe==3.0.3
nd2==0.11.3
tifffile==2025.5.10
nvidia-cuda-runtime==13.0.96
typing-inspection==0.4.2
prompt_toolkit==3.0.52
pyasn1_modules==0.4.2
propcache==0.5.2
nest-asyncio2==1.7.2
urllib3==2.7.0
mdit-py-plugins==0.6.1
neuroglancer==2.41.2
decorator==5.3.1
aicspylibczi==3.3.1
nvidia-cusparselt-cu13==0.8.1
cuda-bindings==13.3.1
rsa==4.9.1
wheel==0.47.0
toml==0.10.2
lxml==6.1.1
aioitertools==0.13.0
debugpy==1.8.21
nvidia-nvtx==13.0.85
matplotlib==3.11.0
wandb==0.27.2
fonttools==4.63.0
funlib.geometry==0.3.0
sympy==1.14.0
packaging==26.2
pyparsing==3.3.2
cycler==0.12.1
resource-backed-dask-array==0.1.0
augment-nd==0.1.3
oauth2client==4.1.3
six==1.17.0
charset-normalizer==3.4.7
asciitree==0.3.3
traitlets==5.15.1
aiobotocore==3.7.0
pydantic==2.13.4
textual==8.2.7
dnspython==2.8.0
psutil==7.2.2
python-dateutil==2.9.0.post0
gunpowder==1.4.4
asttokens==3.0.1
Werkzeug==3.1.8
aiohappyeyeballs==2.6.2
fasteners==0.20
executing==2.2.1
funlib.learn.torch==0.1.0
parso==0.8.7
importlib_metadata==9.0.0
setuptools==81.0.0
annotated-types==0.7.0
mpmath==1.3.0
zipp==4.1.0
smmap==5.0.3
pyzmq==27.1.0
kiwisolver==1.5.0
pydantic-extra-types==2.11.1
ptyprocess==0.7.0
lazy-loader==0.5
matplotlib-inline==0.2.2
ndtiff==3.1.0
pandas==3.0.3
Markdown==3.10.2
xsdata==26.2
uc-micro-py==2.0.0
xarray==2026.4.0
pymongo==4.17.0
Deprecated==1.3.1
rich==15.0.0
protobuf==7.35.1
pip==26.1.2
funlib.show.neuroglancer==0.2
psycopg2-binary==2.9.12
wcwidth==0.8.1
3DSegStuff==0.0.0
